{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Register</h1>
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first,{
                    'label':'Password'
                }) }}
                {{ form_row(form.plainPassword.second,{
                    'label':'Repeat Password'
                }) }}
                <div class="js-members-detail-wrapper"
                     data-prototype="{{ form_widget(form.membersdetail.vars.prototype)|e('html_attr') }}"
                     data-index="{{ form.membersdetail|length }}"
                >
                    {% for membersDetailForm in form.membersdetail  %}
                        <div class="js-members-detail-item">
                            {{ form_errors(membersDetailForm) }}
                            {{ form_row(membersDetailForm.first_name) }}
                            {{ form_row(membersDetailForm.last_name) }}
                            {{ form_row(membersDetailForm.org_name) }}
                            {{ form_row(membersDetailForm.phone) }}
                            {{ form_row(membersDetailForm.address1) }}
                            {{ form_row(membersDetailForm.address2) }}
                            {{ form_row(membersDetailForm.city) }}
                            {{ form_row(membersDetailForm.country) }}
                            {{ form_row(membersDetailForm.state) }}
                            {{ form_row(membersDetailForm.postal_code) }}
                         </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/members.js') }}"></script>
        <script>
            jQuery(document).ready(function() {
                $(function() {
                    membersDetailinit();
                })
            })
        </script>
    {% endblock %}