{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
		<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
		<link rel="stylesheet" href="{{ asset('css/cloud-vps.css') }}">
    {% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
					<h1>Windows VPS and Linux VPS for All Your Needs!</h1>
					<div class="wrapper typography-p1">
						<div class="extra-wrap"><strong>Windows VPS and Linux VPS</strong> is a Cloud Solution that can be scaled at any time. You can upgrade the CPU when you need the extra power or the RAM when you need more memory. The hard drive size can be scaled at any time as well when you require more space. You can also scale it down when the need is not there. The solution is for any web developer, web designer, hosting provider, or any one that needs to be on their own private platform. The VPS can be configured with cPanel and Plesk control panels to automate and make the VPS managed and assist you with the Web, Email and Database service management. With direct remote access to your Windows VPS and Linux VPS you have full control over the Platform. We also provide an Administration Power Panel Web interface for your VPS. Our VPS solution is better than any other providers and it is priced 100% lower.</div></br>
					</div>
 			<div class="wrapper"  >
				<div class="col-sm-12 suffix_1 content_padding">
					<span class="form-heading">Get Started with <span class="orange">Windows VPS and Linux VPS</span> Today!</span></br>
					<span class="form-heading">Try our <span class="orange">VPS Hosting</span> and You Will See the Difference!</span><br>
				</div>
			</div>

            {{ form_start(vpsHostingForm, {'action': path('vps_save')}) }}
                    <div class="row">
                      <div class="col-sm-6">{{ form_errors(vpsHostingForm) }}</div>
                      <div class="col-sm-6"></div>
                    </div>
					<div class="col-sm-6 ui-accordion"  id="configurator" >
						<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top" role="tab" id="server_header" aria-controls="ui-accordion-configurator-panel-0" aria-selected="true" tabindex="0" >
							<a rel="#server">
								<div class="number">1.</div>
								<div class="header_text">Server</div>
								<div style="clear:both;"></div>
							</a>
						</h3>
						<div id="server" class="box" style="display:block">
							<div class="pad-top-1"><span class="heading m-left">SELECT OPERATING SYSTEM</span>&nbsp;<span id="os_price" class="priceText"></span></div>
							<div class="m-left" id="js-osystems-wrapper">{{ form_row(vpsHostingForm.vpsos, {'id' : 'os'}) }}</div>
							<!--
							PROCESSORS
							-->
							<div class="pad-top-1"><span class="heading m-left">SELECT NUMBER OF PROCESSORS</span>&nbsp;<span id="cpu_price" class="priceText"></span></div>
							<div><div class="slider"  id="cpu_slider">
                            <div align="right"><span class="heading m-left"> </span></div>
                            </div></div>
							<span class="m-left" id="js-cpus-wrapper">
                                {{ form_row(vpsHostingForm.cpu, {'id' : 'cpus'}) }}
							</span>
							<!--
						   SYSTEM RAM
						   -->
							<div><span class="heading m-left">SELECT SYSTEM RAM</span>&nbsp;<span id="ram_price" class="priceText"></span></div>
							<div><div class="slider" id="ram_slider">
                            <div align="right"><span class="heading m-left"> </span></div>
                            </div></div>
                            <span class="m-left" id="js-ram-wrapper">
                                {{ form_row(vpsHostingForm.ram, {'id' : 'ram'}) }}
							</span>
							<!--
						   HARD DISK SPACE
						   -->
							<div><span class="heading m-left">HARD DISK SPACE</span>&nbsp;<span id="hd_price" class="priceText"></span></div>
							<div><div class="slider" id="hd_text">
                            <div align="right"><span class="heading m-left"> </span></div>
							</div></div>
                            <span class="m-left" id="js-hd-wrapper">
                                 {{ form_row(vpsHostingForm.hd, {'id' : 'hd'}) }}
                            </span>
							<div class="next-box clearfix"><a class="arrow_next" prev="#server" next="#software"  >Next</a></div>
						</div>
						<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top bottom" role="tab" id="software_header" aria-controls="ui-accordion-configurator-panel-0" aria-selected="true" tabindex="0">
							<a rel="#software">
								<div class="number">2.</div>
								<div class="header_text">IP Address & Software</div>
								<div style="clear:both;"></div>
							</a>
						</h3>
						<div id="software" style="display:none" class="box">

							<!--
							IP ADDRESSES
							-->
							<div class="pad-top-1"><span class="heading m-left">IP ADDRESSES</span>&nbsp;<span id="ip_addresses_price" class="priceText"></span></div>
							<div class="m-left" id="js-ipaddress-wrapper">
								{{ form_row(vpsHostingForm.ip_addresses, {'id' : 'ip_addresses'}) }}
							</div>
							<!--
							CONTROL PANEL
							-->
							<div class="pad-top-1"><span class="heading m-left">CONTROL PANEL</span>&nbsp;<span  id="cp_price" class="priceText"></span></div>
							<div class="m-left" id="js-cpanel-wrapper">
								{{ form_row(vpsHostingForm.vpscpanel, {'id' : 'cp'}) }}
							</div>
							<!--
							DATABASE
							-->
							<div class="pad-top-1"><span class="heading m-left">DATABASE</span>&nbsp;<span  id="database_price" class="priceText"></span></div>
							<div class="m-left" id="js-database-wrapper">
								{{ form_row(vpsHostingForm.vpsdatabase, {'id' : 'database'}) }}
							</div>
							<!--
							RemoteBackup
							-->
							<div class="pad-top-1"><span class="heading m-left">Remote Backup</span>&nbsp;<span  id="rb_price" class="priceText"></span></div>
							<div class="m-left" id="js-remote-wrapper">
								{{ form_row(vpsHostingForm.remotebackup, {'id' : 'rb_id'}) }}
							</div>
							<div class="pad-top-1 clearfix next-box"><a class="arrow_next prev" prev="#software" next="#server">Prev</a> <a class="arrow_next" prev="#software" next="#vps_name_server"  >Next</a></div>

						</div>
						<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top bottom" role="tab" id="vps_name_server_header" aria-controls="ui-accordion-configurator-panel-0" aria-selected="true" tabindex="0">
							<a rel="#vps_name_server">
								<div class="number">3.</div>
								<div class="header_text">Server Name</div>
								<div style="clear:both;"></div>
							</a>
						</h3>
						<div id="vps_name_server" style="display:none" class="box">
							<div class="pad-top-1"><span class="heading m-left"  >VPS Server Name</span></div>
							<div class="m-left">
								<input type="text" id="host_name" name="host_name"  placeholder="Host">
								<img src="../images/cloud/dot.png"  style="display:inline-block;"  />
								<input type="text" id="domain_name" name="domain_name"  placeholder="Domain"/>
								<img src="../images/cloud/dot.png"  style="display:inline-block;"  />
								<input type="text" id="extension_name" name="extension_name" placeholder="Extension"/>

							</div>
							<div ><span class="m-left"  >(example: server.yourdomain.com)</span></div>
							<div  class="clearfix next-box  pad-top-1"><a class="arrow_next prev" prev="#vps_name_server" next="#software"  >Prev</a>
								<input type="submit" id="submit_button" name="Submit" value="Purchase Cloud VPS" class="arrow hide" formnovalidate/>
								<span id="js-submit-wrapper"><a class="arrow_next" id="link_submit" name="link_submit"  >Purchase Cloud VPS</a></span>
							</div>
						</div>
					</div>
                    <div class="col-sm-1" content_padding ">
						<div>&nbsp;</div>
					</div>
					<div class="col-sm-4" id="box_total">
						<div><span class="total">Total</span></div>
						<div><ul id="package_message" class="total_two"  >Monthly</ul></div>
						<div><ul id="quarter" class="total_two"   >Quarterly</ul></div>
						<div><ul id="year" class="total_two"  >One Year</ul></div>
						<div><ul id="twoyear" class="total_two"  >Two Years</ul></div>
						<div><ul id="threeyear" class="total_two"  >Three Years</ul></div>
						<div><ul id="fouryear" class="total_two"  >Four Years</ul></div>
						<div><ul id="fiveyear" class="total_two"  >Five Years</ul></div>
					</div>
					<div class="col-sm-2" content_padding ">
						<div></div>
					</div>
                {{ form_row(vpsHostingForm.host_name, {'id' : 'hostname'}) }}
				<input id="command" name="command" type="hidden" value="select_domain"></input>
				<input id="package_price" name="package_price" type="hidden"></input>
			{{ form_end(vpsHostingForm) }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js"></script>
 	<script type="text/babel" src="{{ asset('js/vps.react.js') }}"></script>

	<script  src="{{ asset('js/jquery-ui.js') }}"></script>
    <script type="text/babel">
        var notesUrl = '{{ path('vps_ops', {'1':'1'}) }}';
        ReactDOM.render(
        <OSystemSection url={notesUrl}  />,
                document.getElementById('js-osystems-wrapper')
        );
	</script>
	<script  src="{{ asset('js/vps_start.js') }}"></script>
{% endblock %}
